<article class="writing exerpt-only">
  <header>
    <date pubdate datetime="<%= @article[:created_at] %>">
      <%= Time.parse(@article[:created_at]).strftime("%d %b, %Y") %>
    </date>
    <h3><a href="<%= @article.path %>"><%= @article[:title] %></a></h3>
  </header>
  <p>
    <%= @article[:exerpt] %>
  </p>
  <p>
    <a href="<%= @article.path %>">Read More</a>
  </p>
</article>
