<% render 'default', { :body_class => 'article',
                       :title => @item[:title],
                       :description => @item[:exerpt] } do %>
  <article>
    <header>
      <h1><%= @item[:title] %></h1>
      <time pubdate datetime="<%= @item[:created_at] %>">
        posted on <%= Time.parse(@item[:created_at]).strftime("%d %b, %Y") %>
      </time>
      <address>
        posted by
        <a href="/">David Goodlad</a>
      </address>
      <% unless @item[:hide_exerpt] %>
        <p class="summary">
          <%= @item[:exerpt] %>
        </p>
      <% end %>
    </header>

    <section class="content">
      <%= yield %>
    </section>

    <footer>
      This work by <a xmlns:cc="http://creativecommons.org/ns#"
      href="http://d.goodlad.net/" property="cc:attributionName"
      rel="cc:attributionURL">David Goodlad</a> is licensed under
      a <a rel="license"
      href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons
      Attribution-ShareAlike 3.0 Unported License</a>.
    </footer>
  </article>
<% end %>
