<% render 'default', { :body_class => 'article',
                       :title => @item[:title],
                       :description => @item[:exerpt] } do %>
  <article>
    <header>
      <h1><%= @item[:title] %></h1>
      <time pubdate datetime="<%= @item[:created_at] %>">
        posted on <%= Time.parse(@item[:created_at]).strftime("%d %b, %Y") %>
      </time>
      <address>
        posted by
        <a href="/">David Goodlad</a>
      </address>
      <% unless @item[:hide_exerpt] %>
        <p class="summary">
          <%= @item[:exerpt] %>
        </p>
      <% end %>
    </header>

    <section class="content">
      <%= yield %>
    </section>

    <footer>
      &copy; <%= Time.parse(@item[:created_at]).year %> David Goodlad. All rights reserved.
    </footer>
  </article>
<% end %>
